<div class="container">
    <!-- <button class="btn btn-success" type="submit" (click)="showSecret = !showSecret">Show secret</button> -->
    <button class="btn btn-success" type="submit" (click)="addLog()">Show secret</button>
    <p *ngIf="showSecret">This is a secret.</p>
</div>
<div class="container">
    <p 
        *ngFor="let log of logs; let i = index" 
        [ngStyle]="{backgroundColor: i >= 4 ? 'darkgreen' : 'transparent'}"
        [ngClass]="{'green-text': i >=4}"

        >{{log}}</p>
    </div>